.Home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 2rem;
    justify-content: left;
    padding: 2rem;
    overflow-y: auto;
}

.course {
    position: relative;
    height: 200px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Home .course a {
    text-decoration: none;
}

.Home .course a,
.Home .course a:visited {
    color: #000;
}

.Home .course h2 {
    font-size: 25px;
    font-weight: normal;
    position: relative;
    padding-bottom: 20px;
}

.Home .course h2::after {
    content: '';
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    height: 1px;
    background-color: #595959;
}

.home-professor-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #333;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.three-dots-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        inset 0 4px 8px rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.three-dots-button:focus {
    outline: none;
}

.three-dots-button:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0.4, 0.4, 0.4, 0.4);
}

.three-dots-button:active {
    background-color: #b1b1b1;
}

.dropdown-menu-course {
    position: absolute;
    bottom: 60px;
    right: -10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 75px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(10px);
    transition: all 0.5s ease;
    z-index: 100;
}

.dropdown-menu-course.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu-course.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
}

.dropdown-menu-course button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f9f9f9;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu-course button:last-child {
    border-bottom: none;
}

.dropdown-menu-course button:hover {
    background-color: #dfdfdf;
}