.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    opacity: 1;
    transition: all 0.5s ease;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1999;
}

.popup.loading {
    transform: translate(-50%, -50%) scale(0.95);
}

.popup.loaded {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.popup.loaded .popup-content {
    opacity: 1;
}

.popup.success {
    border: 2px solid #4CAF50;
    box-shadow: 0 0 10px #4CAF50;
}

.popup.failed {
    border: 2px solid #f44336;
    box-shadow: 0 0 10px #f44336;
}

.popup-content h4 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    color: #333;
    font-size: 23px;
}

.popup.success .popup-content h4 {
    color: #4CAF50;
}

.popup.failed .popup-content h4 {
    color: #f44336;
}

.popup-content p {
    margin: 0;
    font-size: 23px;
}

@media (max-width: 768px) {

    .popup-content p {
        font-size: 15px;
    }

    .popup-content h4 {
        font-size: 20px;
    }
}